@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
  .container{
    @apply px-4 mx-auto w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1320px] ;
  }
  .border{
    @apply border-2 border-green-600;
  }
  .no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar{
    display: none;
  }
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
@layer components {
  .button{
    @apply px-2 py-1 bg-gray-100 rounded-md text-[#222] hover:bg-gray-200 cursor-pointer transition active:scale-[.97] select-none ease-out
  }
}